In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [16]:
# Load the dataset
df = pd.read_csv('foodWithCategory.csv',sep = ';')

In [17]:
df.head()

,Unnamed: 0,name,Category,serving_size,calories,total_fat,saturated_fat,cholesterol,protein,carbohydrate,fiber,sugars,fat,water
0,1,"Nuts, pecans",Seeds and Nuts,100 g,691,72g,6.2g,0,9.17 g,13.86 g,9.6 g,3.97 g,71.97 g,3.52 g
1,2,"Eggplant, raw",Fruits R-Z,100 g,25,0.2g,NaN,0,0.98 g,5.88 g,3.0 g,3.53 g,0.18 g,92.30 g
2,5,"Cauliflower, raw",Fruits R-Z,100 g,25,0.3g,0.1g,0,1.92 g,4.97 g,2.0 g,1.91 g,0.28 g,92.07 g
3,6,"Taro leaves, raw",Fruits R-Z,100 g,42,0.7g,0.2g,0,4.98 g,6.70 g,3.7 g,3.01 g,0.74 g,85.66 g
4,18,"Winged bean tuber, raw",Fruits R-Z,100 g,148,0.9g,0.2g,0,11.60 g,28.10 g,0,0,0.90 g,57.40 g

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2415 entries, 0 to 2414
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2415 non-null   int64
 1   name           2415 non-null   object
 2   Category       2415 non-null   object
 3   serving_size   2415 non-null   object
 4   calories       2415 non-null   int64
 5   total_fat      2415 non-null   object
 6   saturated_fat  1999 non-null   object
 7   cholesterol    2415 non-null   object
 8   protein        2415 non-null   object
 9   carbohydrate   2415 non-null   object
 10  fiber          2415 non-null   object
 11  sugars         2415 non-null   object
 12  fat            2415 non-null   object
 13  water          2415 non-null   object
dtypes: int64(2), object(12)
memory usage: 264.3+ KB

In [19]:
df = df.drop(['Unnamed: 0', 'water','cholesterol','saturated_fat','fat'], axis=1)

In [20]:
# Check for non numeric values in columns 2-8

# List of column names to check
columns_to_check = df.columns[2:]

# Loop through columns and check for non-numeric and negative values
for col in columns_to_check:
    col_numeric = col + '_numeric'
    df[col_numeric] = pd.to_numeric(df[col], errors='coerce')
    non_numeric_values = df[df[col_numeric].isnull()][col]
    negative_values = df[df[col_numeric] < 0][col]
    print(f"Non-numeric values in column '{col}':\n{non_numeric_values}\n")
    print(f"Negative values in column '{col}':\n{negative_values}\n")
    
    # Drop the temporary _numeric column
    df.drop(columns=[col_numeric], inplace=True)

Non-numeric values in column 'serving_size':
0       100 g
1       100 g
2       100 g
3       100 g
4       100 g
        ...
2410    100 g
2411    100 g
2412    100 g
2413    100 g
2414    100 g
Name: serving_size, Length: 2415, dtype: object

Negative values in column 'serving_size':
Series([], Name: serving_size, dtype: object)

Non-numeric values in column 'calories':
Series([], Name: calories, dtype: int64)

Negative values in column 'calories':
Series([], Name: calories, dtype: int64)

Non-numeric values in column 'total_fat':
0        72g
1       0.2g
2       0.3g
3       0.7g
4       0.9g
        ...
2410     20g
2411     19g
2412     15g
2413    5.8g
2414     16g
Name: total_fat, Length: 2415, dtype: object

Negative values in column 'total_fat':
Series([], Name: total_fat, dtype: object)

Non-numeric values in column 'protein':
0        9.17 g
1        0.98 g
2        1.92 g
3        4.98 g
4       11.60 g
         ...
2410    24.95 g
2411    25.03 g
2412    18.74 g
2413    28.60 g
2414     8.81 g
Name: protein, Length: 2415, dtype: object

Negative values in column 'protein':
Series([], Name: protein, dtype: object)

Non-numeric values in column 'carbohydrate':
0       13.86 g
1        5.88 g
2        4.97 g
3        6.70 g
4       28.10 g
         ...
2410     0.00 g
2411     0.00 g
2412     0.19 g
2413     0.00 g
2414    66.28 g
Name: carbohydrate, Length: 2415, dtype: object

Negative values in column 'carbohydrate':
Series([], Name: carbohydrate, dtype: object)

Non-numeric values in column 'fiber':
0       9.6 g
1       3.0 g
2       2.0 g
3       3.7 g
5       6.6 g
        ...
2410    0.0 g
2411    0.0 g
2412    0.0 g
2413    0.0 g
2414    1.2 g
Name: fiber, Length: 2259, dtype: object

Negative values in column 'fiber':
Series([], Name: fiber, dtype: object)

Non-numeric values in column 'sugars':
0        3.97 g
1        3.53 g
2        1.91 g
3        3.01 g
5        2.58 g
         ...
2410     0.00 g
2411     0.00 g
2412     0.00 g
2413     0.00 g
2414    21.86 g
Name: sugars, Length: 1964, dtype: object

Negative values in column 'sugars':
Series([], Name: sugars, dtype: object)

In [21]:
# create a list of columns to modify
columns_to_modify = ['total_fat', 'protein', 'carbohydrate', 'fiber', 'sugars','serving_size']

# loop over the columns and remove the "g" character
for col in columns_to_modify:
    df[col] = df[col].str.replace('g', '')

# check the updated dataframe
print(df.head())

                     name        Category serving_size  calories total_fat
0            Nuts, pecans  Seeds and Nuts         100        691        72  \
1           Eggplant, raw      Fruits R-Z         100         25       0.2
2        Cauliflower, raw      Fruits R-Z         100         25       0.3
3        Taro leaves, raw      Fruits R-Z         100         42       0.7
4  Winged bean tuber, raw      Fruits R-Z         100        148       0.9

  protein carbohydrate fiber sugars
0   9.17        13.86   9.6   3.97
1   0.98         5.88   3.0   3.53
2   1.92         4.97   2.0   1.91
3   4.98         6.70   3.7   3.01
4  11.60        28.10      0      0

In [22]:
#convert serving_size, calories, protein, fat, fiber, sugar and carbs datatypes to int
df['serving_size'] = pd.to_numeric(df['serving_size'])
df['calories'] = pd.to_numeric(df['calories'])
df['protein'] = pd.to_numeric(df['protein'])
df['total_fat'] = pd.to_numeric(df['total_fat'])
df['fiber'] = pd.to_numeric(df['fiber'])
df['carbohydrate'] = pd.to_numeric(df['carbohydrate'])
df['sugars'] = pd.to_numeric(df['sugars'])

#check the result of dataset
df.dtypes

name             object
Category         object
serving_size      int64
calories          int64
total_fat       float64
protein         float64
carbohydrate    float64
fiber           float64
sugars          float64
dtype: object

In [23]:
df = df.replace(",","", regex=True)

In [24]:
#drop row in with null value
df = df.dropna()

display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2415 entries, 0 to 2414
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          2415 non-null   object
 1   Category      2415 non-null   object
 2   serving_size  2415 non-null   int64
 3   calories      2415 non-null   int64
 4   total_fat     2415 non-null   float64
 5   protein       2415 non-null   float64
 6   carbohydrate  2415 non-null   float64
 7   fiber         2415 non-null   float64
 8   sugars        2415 non-null   float64
dtypes: float64(5), int64(2), object(2)
memory usage: 169.9+ KB

None

In [25]:
df['Category'].unique()

array(['Seeds and Nuts', 'Fruits R-Z', 'Vegetables A-E',
       'Fats Oils Shortenings', 'Fish Seafood', 'Dairy products',
       'Meat Poultry', 'Breads cereals fastfoodgrains', 'Desserts sweets',
       'Fruits G-P', 'Jams Jellies', 'Fruits A-F', 'Vegetables R-Z',
       'DrinksAlcohol Beverages', 'Soups', 'Vegetables F-P'], dtype=object)

In [26]:
#Simplifying Categories
df['Category'] = df['Category'].replace(['Breads cereals fastfoodgrains', 'Seeds and Nuts'], 'Grains', regex=True)
df['Category'] = df['Category'].replace(['Desserts sweets', 'Jams Jellies'], 'Desserts', regex=True)
df['Category'] = df['Category'].replace(['Fruits A-F', 'Fruits G-P', 'Fruits R-Z'], 'Fruits', regex=True)
df['Category'] = df['Category'].replace(['Vegetables A-E', 'Vegetables F-P', 'Vegetables R-Z'], 'Vegetables', regex=True)

In [27]:
df['Category'].unique()

array(['Grains', 'Fruits', 'Vegetables', 'Fats Oils Shortenings',
       'Fish Seafood', 'Dairy products', 'Meat Poultry', 'Desserts',
       'DrinksAlcohol Beverages', 'Soups'], dtype=object)

In [28]:
df.to_csv('final_food_csv.csv', index=False)